@import '../../styles/variables';

.authLinks {
	&.flex {
		justify-content: space-between;
	}

	a {
		color: $darkColor;
	}

	.btn {
		background-color: $darkColor;
		color: $primaryColor;
		margin-left: 10px;
	}
}
