@import 'variables';

// Buttons
.btn {
	display: inline-block;
	padding: 10px;
	cursor: pointer;
	background-color: $primaryColor;
	color: $primaryTextColor;
	border: none;
	border-radius: 5px;

	&:hover {
		transform: scale(0.98);
	}
}

// Form control
.formControl {
	margin: 10px 0;
}

// Containers
.container {
	max-width: 1100px;
	margin: 0 auto;
	padding: 0 10px;
}
.flex {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	height: 100%;
}

@media only screen and (min-width: 481px) {
	.container {
		padding: 0 40px;
	}
}
