@import '../../styles/variables';

.accLinks {
	&.flex {
		justify-content: space-between;
	}

	a {
		color: $darkColor;
	}

	.btn {
		background-color: $darkColor;
		color: $primaryColor;
		margin: 0 5px;
	}
}
